body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #f7f7f7;
}

img {
  margin-bottom: 3rem;
}

h1,
p {
  font-family: Helvectica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
